variables:
  GOTOOLCHAIN: local
  GIT_STRATEGY: clone

deploy:
  stage: deploy
  image: golang:1-alpine
  tags:
  - webdeploy
  only:
  - main
  script:
  - apk add --no-cache git rsync
  - cd blog
  - go run ./generate/
  - cd ..
  - rsync -rcthvl --delete .git/ /srv/web/.git/modules/mau.fi/
  - rsync -rcthvl --exclude .git --delete . /srv/web/mau.fi/
